# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_SECRET_KEY=""

# AI / Vision Configuration
GEMINI_API_KEY=""

# NextAuth Configuration
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Google OAuth Configuration
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Supabase PostgreSQL Connection String for Prisma ORM
DATABASE_URL=""
